*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: "Poppins", sans-serif;
    }

    html {
      scroll-behavior: smooth;
    }

    body{
      line-height:1.6;
      color:#e8f792;
      background-color: #0b1024;
    }

    /* NAVBAR */
    header{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      background:rgba(0,0,0,0.6);
      padding:10px 40px;
      z-index:1000;
    }

    nav{
      display:flex;
      justify-content:space-between;
      align-items:center;
    }

    nav h3{
      font-size: 24px;
      color: #fff;
    }

    nav h3 span{
      color: #FFD93D;
    }

    nav ul{
      list-style:none;
      display:flex;
      gap:25px;
    }

    nav ul li a{
      color:#fff;
      text-decoration:none;
      font-size:14px;
    }

    /* HERO */
    .hero{
      height:100vh;
      background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("./Images/Hero\ Image.jpg");
      background-size:cover;
      background-position:center;
      display:flex;
      justify-content:center;
      align-items:center;
      text-align:center;
      color:#fff;
      padding:20px;
    }

    .hero h1{
        font-size:52px;
        font-weight:700;
    }
    h1 span{
        font-weight:300;
    }
    .hero p{
        margin-top:10px;
        letter-spacing:2px;
        font-size:13px;
    }

    

    .social-logos {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 20px;
    }

    .social-logos .fa-brands {
        font-size: 24px;
        color: white;
    }

    

    /* SECTIONS */
    section{
      padding:80px 60px;
      text-align:center;
    }

    section h2{
      font-size:28px;
      margin-bottom:30px;
      position:relative;
    }

    /* ABOUT */
    .about {
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-margin-top: 80px;
    }

      .about-text h2{
        text-align: left;
        font-size: 32px;
      }

    .about-text p{
      max-width:800px;
      margin:0 auto;
      color:#e8f792;
      text-align: left;
    }

    .My-card {
    width: 100%;
    max-width: 362px;
    min-height: 417px;
    background: #e8f792;
    border-radius: 5px;
    overflow: hidden; 
    box-shadow: 0 2px 15px #e8f792;
    }


    .My-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;  
    display: block;
    }

    .card-content {
    padding: 16px 16px 24px;
    }

    .card-content h6 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 8px;
    }

    .card-content p {
    font-size: 16px;
    color: #000000;
    border-bottom: 1px solid gray;
    text-align: left;
    padding-top: 10px;
    }

    /* SKILLS */

    .skills-heading h2 {
      text-align: center;
      margin: 10px 0;
      scroll-margin-top: 80px;
      font-size: 32px;
    }
    .skills{
      display:flex;
      justify-content:center;
      gap:40px;
      flex-wrap: wrap;
      padding:80px 0;
      background:#000;
      color:#fff;
    }

    .skill-box{
      text-align:center;
    }

    .circle{
      width:120px;
      height:120px;
      border-radius:50%;
      background:
      conic-gradient(#fff calc(var(--percent) * 1%),#333 0);
      display:flex;
      align-items:center;
      justify-content:center;
      position:relative;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .circle:hover {
      transform: scale(1.1);
      box-shadow: 0 0 15px #fff;
    }

    .circle::before{
      content:"";
      width:95px;
      height:95px;
      background:#000;
      border-radius:50%;
      position:absolute;
    }

    .circle span{
      position:relative;
      font-size:20px;
      font-weight:bold;
    }

    .skill-box p{
      margin-top:12px;
      font-size:14px;
      letter-spacing:1px;
    }


    /* ADDITIONAL SKILLS */

    .additional-skills {
      /* border: 1px solid white; */
      padding: 30px 20px;
      border-radius: 8px;
      background-color: #1d2236;
      box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
      width: 100%;
      max-width: 1000px;
      min-height: 100px;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      /* align-items: center; */
    }

    .additional-skills h2{
      color: #e8f792;
      font-size: 32px;
      font-weight: 500;
    }

    .additional-skills-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    .additional-skills-list img {
      width: 80px;
      height: 40px;
    }


    /* PORTFOLIO */
    .project-container{
      display:grid;
      grid-template-columns:repeat(3, 1fr);
      gap:25px;
      scroll-margin-top: 80px;
    }

    .project{
      height:200px;
      background:#eaeaea;
      display:flex;
      justify-content:center;
      align-items:center;
      color:#999;
      font-size:14px;
      overflow: hidden;
    }

    .project img{
      width:100%;
      height:100%;
      object-fit:cover;
      display:block;
    }

    /* CONTACT */
    .cv-container{
      display:flex;
      justify-content:space-around;
      flex-wrap:wrap;
      gap:30px;
      scroll-margin-top: 80px;
    }

    .btn{
      display:inline-block;
      padding:12px 30px;
      background:#e8f792;
      color:#000000;
      text-decoration:none;
      border-radius:25px;
      font-size:14px;
    }

    

    .contact-form{
  max-width:600px;
  margin:50px auto 50px;
}

.contact-form form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:12px 15px;
  border:1px solid #ccc;
  font-size:14px;
  outline:none;
  border-radius: 8px;
}

.contact-form textarea{
  resize:none;
}

.contact-form button{
  padding:12px;
  background:#e8f792;
  color:#000000;
  border:none;
  cursor:pointer;
  font-size:14px;
  border-radius:25px;
}

.contact-form button a{
  text-decoration: none;
  color: #000000;
}

.contact-form button:hover{
  opacity:0.9;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-12-20 23:50:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




    /* FOOTER */
    footer{
      background:#222;
      color:#aaa;
      text-align:center;
      padding:20px;
      font-size:13px;
    }

    /* RESPONSIVE */
    @media (max-width:768px){
      header{
        padding:15px 20px;
      }

      .hero h1{
        font-size:26px;
      }

      .hero p{
        font-size:16px;
      }

      .about {
        flex-direction: column;
      }

      section{
        padding:60px 20px;
      }

      .additional-skills {
        width: 80%;
      }

      .project-container{
        grid-template-columns:1fr;
      }

      nav ul{
        gap:15px;
      }
    }

    @media (max-width:480px){
      nav{
        flex-direction:column;
        gap:10px;
      }

      .skills-container{
        gap:15px;
      }

      .skill{
        width:75px;
        height:75px;
        font-size:12px;
      }

      .additional-skills {
        width: 80%;
      }
    }